<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayn.myapp">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 读写sd卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 获取精确gps位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 网络链接 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 更改wifi连状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/apps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".MyActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.mayn.basetools.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SplashActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".LifeActivity" />
        <activity android:name=".UI.FriendsActivity" />
        <activity android:name=".MyToolsActivity" />
        <activity android:name=".TypeActivity" />
        <activity android:name=".SettingImageActivity" />

        <!-- 配置实时壁纸Service -->
        <service
            android:name=".service.VideoLiveWallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">

            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity android:name=".RxjavaActivity" />
        <activity android:name=".DownFileActivity" />
        <activity android:name=".LinelaoutActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".MyTestActivity" />
        <activity android:name=".SeekbarActivity"></activity>
        <activity android:name=".MyLineVeiwActivity">
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DC0LiEZA14UQa6AIkza2m2ieYGfrozoz" />

        <activity android:name=".GroupViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>